{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "all",
  "singleQuote": false,
  "semi": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["className", "class"],
  "tailwindFunctions": ["cn", "cva", "clsx"]
}
